@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
body{
    font-family: 'Akaya Telivigala', cursive;
    background: lightgoldenrodyellow;
}
nav{
    padding: 10px;
background: rgb(255, 238, 0);
width: 40vw;
font-size: 40px;
text-align: center;
margin-left: 30vw;
}
.header p{
    color:crimson;
    font-size: 25px;
    
}
.header{
    margin-left: 15%;
}
article{
    font-size: 20px;
}
#cupcake{
    float:right;
}