@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
body{
    font-family: 'Akaya Telivigala', cursive;
}
nav{
background: blueviolet;
width: 100vw;
font-size: 50px;
}
.header p{
    color:crimson;
    font-size: 25px;
}
